#belowheader-menu1{
  background-color: #000000;
height: 4em;
}
#belowheader-one{



display: block;
        color: #979797;
    padding-left:28%;
    letter-spacing: 2px;
vertical-align: bottom;
    font-size: 1.2em;


}
#belowheader-two{
 color:#979797;



    padding-left:2.2%;
    letter-spacing: 2px;
vertical-align: bottom;
    font-size: 1em;


}
#belowheader-three{
 color:#979797;

vertical-align: bottom;
    padding-left:2%;
    letter-spacing: 2px;

    font-size: 1em;


}

#belowheader-menu1  li{
  display:inline;

}

