<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.all @ categories=['career.development']}"/>

<html>
<body>

<br>
<p class="development" >${properties.text}</p>
<p class="development1" ></br></br>${properties.text2}</p>
<br>
<div class="paragraphe__content">
            <p>Notre Groupe accueille les femmes et les hommes les plus créatifs et les plus passionnés, qui maîtrisent les <br>nouvelles technologies et qui souhaitent mettre à contribution leurs talents.<br></p>

<p>Nous leur offrons un environnement basé sur le sens des responsabilités, le mérite et la confiance, et qui<br> permet aux femmes et aux hommes les plus brillants, les plus créatifs et les plus motivés de donner le <br>meilleur d'eux-mêmes<br>.&nbsp;<br>
Des femmes et des hommes ont forgé l'histoire de cette entreprise tout au long de ces 90 dernières<br> années. Où qu'ils soient basés, nos collaborateurs nous tiennent à cœur et nous investissons dans leur<br> développement, nous les responsabilisons : c'est leur énergie, leur créativité et leur dévouement qui font<br> notre force.<br></p>

<p>Inspirés par notre quête de sens et le désir de bien faire, chaque jour, nous laissons la créativité gagner<br> tous les aspects de notre activité apportant ainsi une valeur ajoutée à nos clients et par conséquent à nos<br> collaborateurs eux-mêmes.<br></p>

<p>Nous voulons être reconnus en tant que source de formation et de développement pour les femmes et les<br> hommes les plus ambitieux et les plus talentueux des secteurs de la création<br></p>

<p>Selon un sondage auprès de nos clients, les qualités de notre relation client sont <br>:</p>

<ul>
	<li>L'expertise et l'expérience du consultant en contact direct avec le client</li>
	<li>La flexibilité</li>
	<li>Une véritable approche holistique</li>
	<li>Des données et des analyses fiables ouvrant sur de nouvelles opportunités et élevant le niveau de la mission</li>
	<li>Des idées créatives pleines de fraîcheur et de surprises</li>
	<li>La créativité appliquée à tous les niveaux possibles : stratégie, analyse de données, média et exécution créative</li>
</ul>

<p>Au-delà de ce que peuvent dire nos clients, nous nous sommes engagés à créer et à leur apporter une <br>valeur ajoutée : nous investissons dans ce qui leur tient le plus à cœur et ce dont ils ont le plus besoin.<br></p>

    </div>
<br>
</html>
</body>
