<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['career.tools']}"/>
<br>
<br>
<br>
<h2 class="paragraphe__titleee">${properties.text}</h2>
<h2 class="paragraphe__subtitleee">${properties.text2}</h2>
<figure class="paragraphe__imagee">

        </figure>
<div class="ppppp">
<p>Publicis Groupe’s Executive Development Program (EDP) provides our talents with a unique opportunity<br> to interact with their peers and hone skills needed to drive an agency or network on an international scale.<br>
<br>
Launched in 2007 under the guidance of the Groupe’s Director General, the EDP had one clear objective:<br> to enable directors and future leaders to realize their potential by exposing them to greater<br> responsibilities and ways of working. To achieve this, participants are invited to take part in a week-long <br>of intensive training. Through simulated management experiences they are able to familiarize themselves<br> with various methods, different approaches and tools they can immediately apply to their work functions.<br>
The EDP is unique in that it encourages the development of key skills, including:</p>
<ul>
	<li>Entrepreneurial spirit and how to think like a business leader and understand the principles of ownership and cash-flow</li>
	<li>Leadership and collaboration, and how to constantly search for new sources of innovation</li>
	<li>Driving change and change management</li>
</ul>
<p>Held three times a year – in Europe, USA and Asia - the EDP encourages talents to forge new relationships<br> with colleagues from different countries, with different nationalities and functions. Networking is a major<br> part of the program. Between 120 and 150 of our talents are invited to take part in the EDP every year</p>
        </div>