<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['career.ImageandText']}"/>

 <div class="container-1">
 <div class="box-1">
 <img src="${properties.fileReference}" style="padding-left:15%; height:200px;">
 <p class="ImageandText1">${properties.firstname}<br>
 ${properties.text2}</p>

 <p class="ImageandTextparagraphe__subtitle"> ${properties.text3}<br> ${properties.text4}<br> ${properties.text5}</p></figcaption>
</figure>
  </div>
<div class="box-2">
<p class="ImageandText2">“ <br> Nous croyons fermement que travailler ensemble est la solution.<br> “No silo, no solo, no bozo” est notre ligne directrice.<br>
No silo : aujourd’hui, travailler dans une démarche intégrée est<br> incontournable.<br>
No solo : notre métier requiert un travail d’équipe, pas de succès <br>pour le soliste sans son orchestre.<br>
No bozo : il nous faut les meilleurs talents et les esprits les plus<br> brillants qui soient dotés d’une attitude et d’un esprit positifs, afin<br> de travailler tous ensemble et tendre vers un même but. <br>
Le “Power of One” est le ticket gagnant pour nos clients et le <br>secret de la réussite de nos collaborateurs.<br>
Nous demeurons fidèles à notre devise : “Viva La Difference”, nous<br> sommes pour la diversité et l’inclusion au sein de notre entreprise.<br> Nous jugeons les candidats sur leur passion et leurs talents, plutôt<br> que sur leurs diplômes.<br>
Que vous sortiez d’universités prestigieuses ou que vous ayez été <br>formés à l’école de la vie, vous êtes les bienvenus. Pour Publicis <br>Groupe TOUS les profils et les individualités comptent. Si vous <br>aimez les défis, la vitesse, la transformation, et si vous êtes<br> passionnés par ce que vous faites, nous vous attendons.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;”</p>

</div>
</div>

