
<style>
.herobannercontainer1 {
  position: relative;
  text-align: center;

}
.herobannercentered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.herobannerstart-page__title {
    padding: .4em;
    display: table-cell;
    vertical-align: middle;
   background-color: #9d833e;
    color: #fff;
}
</style>



<div class="herobannercontainer1">
<img src="${properties.fileReference}" style="width:100%";>
  <div class="herobannercentered1">
<h1 class="herobannerstart-page__title "><span>${properties.text}</span></h1>
                                      </div>
</div>