<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.all @ categories=['career.jobbody']}"/>


<div class="paragraphe__content">
<p>${properties.text}<br> ${properties.text2}</p>
<p></p>

<p>${properties.text3}</p>

<p>Connect to <a href="https://careers.smartrecruiters.com/PublicisGroupe" target="_blank">${properties.text4}</a><br>
Connect to <a href="https://www.linkedin.com/company/publicis-groupe/jobs/" target="_blank">${properties.text5}</a></p>

    </div>