<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories=['career.header1']}"/>
<ul id="menu">

  <li id="li1">${properties.text}</li>
  <li id="li2">${properties.text2}</li>
  <img src="${properties.fileReference}" style="width:100px; 
        height:65px;">
  <li id="li3">${properties.text3}</li>
  <li id="li4">${properties.text4}</li>
 <li id="li6"><a href="http://localhost:4502/content/career/us/fr/french-career-page-1.html?wcmmode=disabled" target="_blank">${properties.text5}</a></li>


</ul> 


