
<style>
.paragraphe__titleee {
    color: #9d833e;
    padding-left: 20%;
    margin: 0 0 .5em;
    font-family: ITC New Baskerville W01;
    font-weight: 400;
    font-size: 1.5625em;
}

 .paragraphe__subtitleee {
    text-transform: uppercase;
    font-weight: inherit;
    font-size: 1em;
    margin-bottom: 1.25em;
            padding-left: 20%;
}
.paragraphe__imagee {
    margin: 0;
    width: 100%;
    position: relative;
padding-left: 20%;
}

.ppppp{
    color: #979797;
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: .5px;
    text-align: justify;
    display: inline-block;
    width: 100%;
    padding-left: 20%;

}

    </style>