

.paragraphe__content1t {
    color: #979797;
    font-size: .95em;
    line-height: 1.6;
    letter-spacing: .5px;
    text-align: justify;
    display: inline-block;
    width: 100%;
}


.extra1a{

                font-size: 3em;
    font-family: ITC New Baskerville W01;
    color: #9d833e;
    text-align: center;
    margin: 1.25em 0;
    letter-spacing: 4px;
        }